body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: dimgray;
    background-color: #29bcff;
}

p {
    font-family: 'Times New Roman', Times, serif;
    color: darkslategray;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    color: #ff571e;
    padding: 10px;
    margin: 5px;
}

ul {
    list-style-type: square;
    padding-inline-start: 40px;
}

li {
    margin: 5px;
}

table {
    border: 1px solid green;
}
td, th{
    border: 2px solid black;     
    padding: 10px;
    
}